In [50]:
# imports
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder


df = pd.read_csv("data/ndtv_data_final.csv", index_col=0)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1359 entries, 0 to 1358
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Name                    1359 non-null   object
 1   Brand                   1359 non-null   object
 2   Model                   1359 non-null   object
 3   Battery capacity (mAh)  1359 non-null   int64
 4   Screen size (inches)    1359 non-null   float64
 5   Touchscreen             1359 non-null   object
 6   Resolution x            1359 non-null   int64
 7   Resolution y            1359 non-null   int64
 8   Processor               1359 non-null   int64
 9   RAM (MB)                1359 non-null   int64
 10  Internal storage (GB)   1359 non-null   float64
 11  Rear camera             1359 non-null   float64
 12  Front camera            1359 non-null   float64
 13  Operating system        1359 non-null   object
 14  Wi-Fi                   1359 non-null   object
 15  Bluetooth               1359 non-null   object
 16  GPS                     1359 non-null   object
 17  Number of SIMs          1359 non-null   int64
 18  3G                      1359 non-null   object
 19  4G/ LTE                 1359 non-null   object
 20  Price                   1359 non-null   int64
dtypes: float64(4), int64(7), object(10)
memory usage: 233.6+ KB

In [51]:
categorical = ["Brand","Touchscreen","Operating system","Wi-Fi","Bluetooth","GPS","3G","4G/ LTE"]

label_enc = LabelEncoder()

# encode categorical 
encodings = {}
for col in categorical:
    label_enc.fit(df[col])
    encodings[col] = dict(zip(label_enc.classes_, map(int, label_enc.transform(label_enc.classes_))))

print(encodings)

df[categorical] = df[categorical].apply(lambda col: label_enc.fit_transform(col))

# convert INR to USD as of 10/22
df["Price"] = round(df["Price"] * 0.012, 2)
df["RAM"] = df["RAM (MB)"] / 1000

df = df.drop(columns=["Name", "Model", "RAM (MB)"])

# change column names
col_rename = {
    "Battery capacity (mAh)" : "Battery",
    "Internal storage (GB)" : "Storage",
    "Operating system" : "OS",
    "Wi-Fi" : "WiFi",
    "4G/ LTE": "4G",
    "Screen size (inches)" : "Screen size",
    "Number of SIMs" : "nSIM"
}

df.rename(columns=col_rename, inplace=True)

{'Brand': {'10.or': 0, 'Acer': 1, 'Alcatel': 2, 'Apple': 3, 'Aqua': 4, 'Asus': 5, 'Billion': 6, 'Black Shark': 7, 'BlackBerry': 8, 'Blu': 9, 'Cat': 10, 'Celkon': 11, 'Comio': 12, 'Coolpad': 13, 'Gionee': 14, 'Google': 15, 'HP': 16, 'HTC': 17, 'Homtom': 18, 'Honor': 19, 'Huawei': 20, 'InFocus': 21, 'Infinix': 22, 'Intex': 23, 'Itel': 24, 'Jio': 25, 'Jivi': 26, 'Karbonn': 27, 'Kult': 28, 'LG': 29, 'Lava': 30, 'LeEco': 31, 'Lenovo': 32, 'Lephone': 33, 'Lyf': 34, 'M-tech': 35, 'Meizu': 36, 'Micromax': 37, 'Microsoft': 38, 'Mobiistar': 39, 'Motorola': 40, 'Nokia': 41, 'Nubia': 42, 'Nuu Mobile': 43, 'OnePlus': 44, 'Onida': 45, 'Oppo': 46, 'Panasonic': 47, 'Phicomm': 48, 'Philips': 49, 'Poco': 50, 'Razer': 51, 'Reach': 52, 'Realme': 53, 'Samsung': 54, 'Sansui': 55, 'Smartron': 56, 'Sony': 57, 'Spice': 58, 'Swipe': 59, 'TCL': 60, 'Tambo': 61, 'Tecno': 62, 'Videocon': 63, 'Vivo': 64, 'Xiaomi': 65, 'Xolo': 66, 'Yu': 67, 'ZTE': 68, 'Zen': 69, 'Ziox': 70, 'Zopo': 71, 'Zuk': 72, 'iBall': 73, 'iVoomi': 74, 'mPhone': 75}, 'Touchscreen': {'No': 0, 'Yes': 1}, 'Operating system': {'Android': 0, 'BlackBerry': 1, 'Cyanogen': 2, 'Sailfish': 3, 'Tizen': 4, 'Windows': 5, 'iOS': 6}, 'Wi-Fi': {'No': 0, 'Yes': 1}, 'Bluetooth': {'No': 0, 'Yes': 1}, 'GPS': {'No': 0, 'Yes': 1}, '3G': {'No': 0, 'Yes': 1}, '4G/ LTE': {'No': 0, 'Yes': 1}}

In [52]:
df.head()

,Brand,Battery,Screen size,Touchscreen,Resolution x,Resolution y,Processor,Storage,Rear camera,Front camera,OS,WiFi,Bluetooth,GPS,nSIM,3G,4G,Price,RAM
0,44,4085,6.67,1,1440,3120,8,256.0,48.0,16.0,0,1,1,1,2,1,1,707.98,12.0
1,53,4000,6.50,1,1080,2400,8,64.0,64.0,16.0,0,1,1,1,2,1,1,335.99,6.0
2,3,3969,6.50,1,1242,2688,6,64.0,12.0,12.0,6,1,1,1,2,1,1,1282.80,4.0
3,3,3110,6.10,1,828,1792,6,64.0,12.0,12.0,6,1,1,1,2,1,1,754.80,4.0
4,29,4000,6.40,1,1080,2340,8,128.0,12.0,32.0,0,1,1,1,1,0,0,599.88,6.0

In [53]:
df.describe()

,Brand,Battery,Screen size,Touchscreen,Resolution x,Resolution y,Processor,Storage,Rear camera,Front camera,OS,WiFi,Bluetooth,GPS,nSIM,3G,4G,Price,RAM
count,1359.000000,1359.000000,1359.000000,1359.000000,1359.000000,1359.000000,1359.000000,1359.000000,1359.000000,1359.000000,1359.000000,1359.000000,1359.000000,1359.000000,1359.000000,1359.000000,1359.000000,1359.000000,1359.000000
mean,37.951435,2938.489330,5.291310,0.987491,811.543046,1490.777778,5.551141,30.654864,12.070199,7.037969,0.178072,0.994113,0.988962,0.920530,1.833701,0.893304,0.744665,137.591001,2.488778
std,19.184224,873.514133,0.671357,0.111184,270.707271,557.780120,2.196562,36.950241,8.948337,6.295448,0.920598,0.076527,0.104517,0.270571,0.374457,0.308840,0.436210,166.289920,1.664440
min,0.000000,1010.000000,2.400000,0.000000,240.000000,320.000000,1.000000,0.064000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,5.930000,0.064000
25%,23.000000,2300.000000,5.000000,1.000000,720.000000,1280.000000,4.000000,8.000000,8.000000,2.000000,0.000000,1.000000,1.000000,1.000000,2.000000,1.000000,0.000000,57.160000,1.000000
50%,37.000000,3000.000000,5.200000,1.000000,720.000000,1280.000000,4.000000,16.000000,12.200000,5.000000,0.000000,1.000000,1.000000,1.000000,2.000000,1.000000,1.000000,83.990000,2.000000
75%,54.000000,3500.000000,5.700000,1.000000,1080.000000,1920.000000,8.000000,32.000000,13.000000,8.000000,0.000000,1.000000,1.000000,1.000000,2.000000,1.000000,1.000000,143.990000,3.000000
max,75.000000,6000.000000,7.300000,1.000000,2160.000000,3840.000000,10.000000,512.000000,108.000000,48.000000,6.000000,1.000000,1.000000,1.000000,3.000000,1.000000,1.000000,2099.880000,12.000000